* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 100vw;
    position: relative;
    z-index: 0;
    height: 200vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;

}

#lang {
    background-color: rgba(25, 24, 24, 0.512);
    color: white;
    border-radius: 4px;
    width: 90px;
    height: 23px;
    text-align: center;
    border: 0.5px solid rgba(132, 123, 123, 0.438);
    padding-bottom: 1px;
    cursor: pointer;
    font-size: 17px;
}

.flex {
    /* position: relative; */
    padding-top: 6px;
    padding-right: 35px;
    display: flex;
    column-gap: 6px;
}

.flex #sign {
    background-color: red;
    width: 60px;
    border-radius: 4px;
    border-color: red;
    color: white;
    text-align: center;
    padding-bottom: 3px;
    cursor: pointer;
    height: auto;
    font-size: 17px;
}

main {
    background-image: url(image/bg.jpg);
    background-size: 100% 110%;
    height: 90vh;
    background-repeat: no-repeat;
    border-top: 0px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


main .box {
    background-image: linear-gradient(7deg, rgba(0, 0, 0, 0.8500) 10.00%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.50%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39.00%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.7250) 53.50%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68.00%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.50%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6000) 97.00%);
    height: 116%;
    color: white;
    position: relative;
    z-index: 0;
    top: -16%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8000) 0.000%, rgba(0, 0, 0, 0.7889) 8.333%, rgba(0, 0, 0, 0.7556) 16.67%, rgba(0, 0, 0, 0.7000) 25.00%, rgba(0, 0, 0, 0.6222) 33.33%, rgba(0, 0, 0, 0.5222) 41.67%, rgba(0, 0, 0, 0.4000) 50.00%, rgba(0, 0, 0, 0.2778) 58.33%, rgba(0, 0, 0, 0.1778) 66.67%, rgba(0, 0, 0, 0.1000) 75.00%, rgba(0, 0, 0, 0.04444) 83.33%, rgba(0, 0, 0, 0.01111) 91.67%, rgba(0, 0, 0, 0.000) 100.0%);
    position: relative;
    z-index: 2;
    width: 100%;

}

#span1 {
    width: 7.5vw;
    margin-left: 10%;
    margin-top: 1%;
}

span img {
    position: relative;
    z-index: 10;
    left: auto;
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

.hero {
    height: 113%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    text-align: center;

}

h1 {
    font-weight: 900;
    line-height: 125%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    position: relative;
    z-index: 10;
    font-size: 3.5rem;

}

.text2 {
    font-weight: 500;
    font-size: 1.25rem;
    padding-top: 10px;
    font-family: "Roboto", sans-serif
}

.text3 {
    font-weight: 400;
    font-size: 1rem;
    padding-top: 25px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.container0 {
    display: flex;
    padding-top: 16px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

input[type="email"] {
    padding: 2.5rem 1rem 0.5rem;
    width: 230px;
    background-color: rgba(22, 22, 22, 0.7);
    border: 2px solid rgb(135, 134, 134);
    text-align: left;
    color: white;
    border-radius: 4px;
}

label[for="email"] {
    position: absolute;
    margin-left: -245px;
    margin-top: 17px;
    color: rgba(255, 255, 255, 0.7);

}

.email:focus-within label,
.email input:not(:placeholder-shown)+label{
    transform: translateY(-10px);
    transition: all 0.3s ease;
    font-size: 12px;
}


input:focus {
    outline: none;
    border: 2px solid white;
}

button.get {
    border: 0px;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 4.0rem;
    padding: 0.75rem 2.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
    gap: 0px;
}

.get img {
    position: absolute;
    /* top: 4px;
    right: -12px; */
    color: white;
    transform: translate(0px, -15px);
}

h2.t2 {
    color: white;
    position: absolute;
    z-index: 12;
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-style: normal;
    font-size: 1rem;
    font-weight: bolder;
    line-height: normal;
    padding-left: 70px;
    padding-top: 40px;
}

.curve {
    height: 4px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    position: relative;
}

.container10 {
    height: 100px;
    z-index:10 ;
}
.color{
    height: 100px;
      background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}

.trend {
    max-height: 500px;
    max-width: 1230px;
    padding-top: 80px;
    display: flex;
    gap: 25px;
    overflow-x: auto;
    overflow-y: hidden;
    transition: 0.1s ease;

}
.trend::-webkit-scrollbar{
    width: 0;
}

@media screen and (max-width:768px) {
    .trend {
        max-width: 78%;
        padding-left: 81px;
    }

    .box1 {
        width: 70px;
    }

    .trend .item {
        width: 130px;

    }


    nav span img {
        left: -60%;
        top: 5px;
    }

    nav .flex {
        left: 10%;
    }

    #lang {
        width: 48%;
    }

    .flex #sign {
        width: 46%;
    }



}

@media screen and (min-width:769px) and (max-width:1024px) {
    .trend {
        max-width: 680px;
        padding-left: 81px;
    }

    .box1 {
        width: 70px;
    }

    .trend .item {
        width: 130px;

    }
}

@media screen and (min-width:1024px) {
    .trend {
        max-width: 1230px;
        padding-left: 150px;
    }

    .box1 {
        width: 140px;
    }

    .trend .item {
        width: 170px;

    }
}

.trend .item img {
    height: auto;
    width: 108px;
    border-radius: 10px;
}

.trend .item {
    height: auto;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: end;
}

.trend .item .text4 {
    transform: translateX(-122px) translateY(-1px);
    color: black;
    font-weight: bolder;
    font-size: 70px;
    font-family: sans-serif;
    -webkit-text-stroke: 2px white;
    font-style: normal;
}

.trend .item:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.15s ease;
}

html {
    scroll-behavior: smooth;
}

.box1 {
    background-color: black;
    height: 247px;
    position: absolute;
    z-index: 11;

}

.text5 {
    padding-top: 15px;
    padding-left: 68px;
    color: white;
    font-style: normal;
    font-weight: bolder;
}

.box2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.box3 {
    height: 276px;
    width: 326px;
    gap: 20px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    word-wrap: break-word;
}

.box3 h4 {
    margin-top: 15px;
    margin-left: 10px;
    font-style: normal;
    color: rgba(249, 243, 243, 0.985);
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    font-weight: 500;

}

.box3 p {
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    text-align: left;
    word-break: normal;
}

.box3 #img1 {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 70%;
    left: 73%;
}

.box3 #img2 {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 75%;
    left: 80%;
}

.box3 #img3 {
    height: 75px;
    width: 79px;
    position: absolute;
    top: 79%;
    left: 82%;
}

.box3 #img4 {
    height: 94px;
    width: 90px;
    position: absolute;
    top: 75%;
    left: 80%;
}